<div class="body-content">
    <div class="cards d-flex flex-wrap justify-content-center align-items-stretch">
        <a *ngFor="let card of Homecards" [href]="card.link" class="card"
            [ngStyle]="{'background-color': card.backgroundColor}">
            <div class="icon">
                <img [src]="card.imgSrc" alt="" />
            </div>
            <div class="title">
                <h2>{{ card.title }}</h2>
                <i class="fa fa-arrow-right"></i>
            </div>
        </a>
    </div>
</div>