<div class="body-content">
  <!-- Title -->
  <div class="d-flex justify-content-between">
    <h1 class="page-title">Delegations</h1>
  </div>
  <!-- Form -->
  <form [formGroup]="delegationForm">
    <div class="row">
      <!-- Full Name -->
      <div class="col-md-3">
        <div class="form-group">
          <label for="ddlUsers" class="form-label required">Full Name</label>
          <ng-select id="ddlUsers" formControlName="userId" *ngIf="contacts.length" [items]="contacts"
            bindLabel="fullName" bindValue="id" placeholder="Select name" class="form-control">
          </ng-select>
          <div *ngIf="delegationForm.controls['userId'].invalid && delegationForm.controls['userId'].touched"
            class="error-msg">
            Full Name is required
          </div>
        </div>
      </div>
      <!-- Date Pickers -->
      <div class="col-md-3">
        <div class="form-group">
          <label for="datepicker1" class="form-label required">From</label>
            <input class="form-control date-picker" matInput [matDatepicker]="picker" placeholder="dd-mm-yyyy"
            formControlName="fromDate" name="dp1" (click)="picker.open()" />
          <mat-datepicker #picker></mat-datepicker>
          <div *ngIf="delegationForm.controls['fromDate'].invalid && delegationForm.controls['fromDate'].touched"
            class="error-msg">
            From date is required
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="datepicker2" class="form-label required">To</label>
            <input class="form-control date-picker" matInput [matDatepicker]="picker1" placeholder="mm-dd-yyyy"
            formControlName="toDate" name="dp2" (click)="picker1.open()" />
          <mat-datepicker #picker1></mat-datepicker>
          <div *ngIf="delegationForm.controls['toDate'].invalid && delegationForm.controls['toDate'].touched"
            class="error-msg">
            To date is required
          </div>
        </div>
        <!--</div>-->
      </div>
      <!-- Privacy -->
      <div class="col-md-3">
        <div class="form-group">
          <label for="ddlPrivacy" class="form-label required">Privacy</label>
          <ng-select id="ddlPrivacy" formControlName="privacyId" [items]="privacy || []" bindLabel="text" bindValue="id"
            placeholder="Select" class="form-control">
          </ng-select>
          <div *ngIf="delegationForm.controls['privacyId'].invalid && delegationForm.controls['privacyId'].touched"
            class="error-msg">
            Privacy is required
          </div>
        </div>
      </div>
      <!-- Categories -->
      <div class="col-md-6">
        <div class="form-group">
          <label for="ddlCategories" class="form-label required">Category</label>
          <ng-select id="ddlCategories" formControlName="categoryId" multiple [items]="categories || []"
            bindLabel="text" bindValue="id" placeholder="Select" class="form-control">
          </ng-select>
          <div *ngIf="delegationForm.controls['categoryId'].invalid && delegationForm.controls['categoryId'].touched"
            class="error-msg">
            Category is required
          </div>
        </div>
      </div>
      <!-- Checkboxes -->
      <div class="col-md-4">
        <div class="d-flex gap-3 mt-4">
          <div class="mt-2">
            <div class="form-group form-check">
              <input class="form-check-input" type="checkbox" formControlName="showOldCorrespondence" />
              <label class="form-check-label" for="oldDocuments">Show old documents</label>
            </div>
          </div>
          <div class="mt-2">
            <div class="form-group form-check">
              <input class="form-check-input" type="checkbox" formControlName="allowSign" />
              <label class="form-check-label" for="canSign">Can sign</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
    </div>
    <!-- Buttons -->
    <div class="d-flex justify-content-end gap-3 mt-1">
      <button type="button" class="btn btn-secondary btn-lg" (click)="clear()">Clear</button>
      <button type="button" class="btn btn-primary btn-lg" (click)="onSave()">
        <i class="fa fa-save"></i> Save
      </button>
    </div>
  </form>
  <hr />
  <!-- Table -->
  <div class="shadow table-container">
    <table class="table" *ngIf="data && data.length > 0" datatable [dtOptions]="dtOptions">
      <thead>
        <tr>
          <th>Delegate to</th>
          <th>From date</th>
          <th>To date</th>
          <th>Created date</th>
          <th>Privacy</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of data">
          <td><span class="bold">{{ row.toUser }}</span></td>
          <td>{{ row.fromDate }}</td>
          <td>{{ row.toDate }}</td>
          <td>{{ row.createdDate }}</td>
          <td>{{ row.privacyName }}</td>
          <td>
            <button type="button" class="btn" (click)="onEdit(row)">
              <i class="fa fa-edit"></i>
            </button>
            <button type="button" class="btn" (click)="onDelete(row)">
              <i class="fa fa-times-circle"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <app-toaster></app-toaster>
    <!-- Message for No Data Found -->
    <div *ngIf="data && data.length === 0" class="text-center noData mt-3">
      <p>No data found</p>
    </div>
  </div>
</div>