<div class="d-flex justify-content-between">
    <h1 class="page-title">Mail for Signature</h1>

    <!-- Sort Dropdown -->
    <div class="dropdown">
        <button class="btn btn-link" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-sort"></i> Sort By
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Transfer date</a></li>
            <li><a class="dropdown-item" href="#">Reference nb</a></li>
        </ul>
    </div>
</div>

<!-- Tabs -->
<div class="nav nav-tabs mt-3" role="tablist">
    <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#nav-new" type="button" role="tab" aria-selected="true"><i class="fa fa-plus-circle"></i>New</button>
    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#nav-sent" type="button" role="tab" aria-selected="false"><i class="fa fa-paper-plane"></i>Sent</button>
    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#nav-completed" type="button" role="tab" aria-selected="false"><i class="fa fa-check-circle"></i>Completed</button>
</div>

<!-- Tab Contents -->
<div class="tab-content">
    <div class="tab-pane fade show active" id="nav-new" role="tabpanel" aria-labelledby="new-tab">
        <!-- No Data Message -->
        <div *ngIf="!loading && newItems.length === 0" class="alert alert-warning" role="alert">
            No data available in the table.
        </div>

        <table class="table light-text" datatable [dtOptions]="dtOptions" *ngIf="!loading && newItems.length > 0">
            <thead>
                <tr>
                    <th>Subject</th>
                    <th>Transfer date</th>
                    <th>Reference nb</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of newItems">
                    <td>
                        <p class="text-primary bold">{{ item.subject }}</p>
                        <p class="text-secondary">{{ item.details }}</p>
                    </td>
                    <td>{{ item.date }}</td>
                    <td>{{ item.ref }}</td>
                    <td>
                        <button class="btn btn-primary">Visual tracking</button>
                    </td>
                    <td>
                        <span>
                            <img class="primary-filter" 
                                 alt="" 
                                 [src]="item.isRead ? 'assets/images/icons/email.svg' : 'assets/images/icons/email-red.svg'" />
                        </span>
                        <span *ngIf="item.isOverDue">
                            <img alt="" src="assets/images/icons/clock.svg" />
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="tab-pane fade" id="nav-sent" role="tabpanel" aria-labelledby="sent-tab">
        <div *ngIf="!loading && sentItems.length === 0" class="alert alert-warning" role="alert">
            No data available in the table.
        </div>
        <table class="table light-text" datatable [dtOptions]="dtOptions" *ngIf="!loading && sentItems.length > 0">
            <thead>
                <tr>
                    <th>Subject</th>
                    <th>Transfer date</th>
                    <th>Reference nb</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of sentItems">
                    <td>
                        <p class="text-primary bold">{{ item.subject }}</p>
                        <p class="text-secondary">{{ item.details }}</p>
                    </td>
                    <td>{{ item.date }}</td>
                    <td>{{ item.ref }}</td>
                    <td>
                        <button class="btn btn-primary">Visual tracking</button>
                    </td>
                    <td>
                        <span>
                            <img class="primary-filter" 
                                 alt="" 
                                 [src]="item.isRead ? 'assets/images/icons/email.svg' : 'assets/images/icons/email-red.svg'" />
                        </span>
                        <span *ngIf="item.isOverDue">
                            <img alt="" src="assets/images/icons/clock.svg" />
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="tab-pane fade" id="nav-completed" role="tabpanel" aria-labelledby="completed-tab">
        <div *ngIf="!loading && completedItems.length === 0" class="alert alert-warning" role="alert">
            No data available in the table.
        </div>
        <table class="table light-text" datatable [dtOptions]="dtOptions" *ngIf="!loading && completedItems.length > 0">
            <thead>
                <tr>
                    <th>Subject</th>
                    <th>Transfer date</th>
                    <th>Reference nb</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of completedItems">
                    <td>
                        <p class="text-primary bold">{{ item.subject }}</p>
                        <p class="text-secondary">{{ item.details }}</p>
                    </td>
                    <td>{{ item.date }}</td>
                    <td>{{ item.ref }}</td>
                    <td>
                        <button class="btn btn-primary">Visual tracking</button>
                    </td>
                    <td>
                        <span>
                            <img class="primary-filter" 
                                 alt="" 
                                 [src]="item.isRead ? 'assets/images/icons/email.svg' : 'assets/images/icons/email-red.svg'" />
                        </span>
                        <span *ngIf="item.isOverDue">
                            <img alt="" src="assets/images/icons/clock.svg" />
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>