.modal-content {
  border-radius: 12px;
  padding: 20px;
  background: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #ededed;
}
 .modal-body {
  text-align: center;
 }
.modal-footer {
  display: flex;
  justify-content: center;
  grid-area: 0.5rem;
  border: 0;
}
