<h1 class="page-title">Dashboard</h1>
<div class="charts">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <span class="card-title">Average duration for correspondence completion</span>
                <highcharts-chart id="donutChart"></highcharts-chart>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <span class="card-title">Average duration for correspondence completion</span>
                <highcharts-chart id="lineChartContainer"></highcharts-chart>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <span class="card-title">Count per status grouped by category</span>
                <highcharts-chart id="pieChartContainer"></highcharts-chart>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <span class="card-title">Count per status grouped by category</span>
                <highcharts-chart id="pieChartContainer2"></highcharts-chart>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <span class="card-title">Count per status grouped by category</span>
                <highcharts-chart id="columnChartContainer"></highcharts-chart>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <span class="card-title">Count per status grouped by category</span>
                <highcharts-chart id="stackedColumnChart"></highcharts-chart>
            </div>
        </div>
    </div>
</div>