<div class="dialog-header">
  <h2 mat-dialog-title>{{ data.referenceNumber }}</h2>
  <button mat-button mat-dialog-close><i class="fa fa-times"></i></button>
</div>

<mat-dialog-content>
  <div class="row" style="height: 100%;">
    <div class="col-md-5">
      <div class="tabs-wrapper">
        <button mat-icon-button class="scroll-btn left" (click)="scrollLeft()" *ngIf="checkScroll()">
          <i class="fa fa-chevron-left"></i>
        </button>

        <div #tabsContainer class="nav nav-tabs responsive-tabs">
          <div *ngFor="let tab of tabs; let i = index" [ngClass]="{'active': activeTabIndex === i}"
            (click)="setActiveTab(i)" class="nav-link">
            {{ tab }}
          </div>
        </div>

        <button mat-icon-button class="scroll-btn right" (click)="scrollRight()" *ngIf="checkScroll()">
          <i class="fa fa-chevron-right"></i>
        </button>
      </div>

      <!-- Tab Contents -->
      <div class="tab-content">
        <!-- Attributes Tab -->
        <div [ngClass]="{'tab-pane': true, 'fade': true, 'show active': activeTabIndex === 0}">
          <div class="p-3">
            <form class="form">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-label">Sending entity</label>
                    <input class="form-control" type="text" [value]="data.row?.sendingEntity" [disabled]="true" />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-label">Receiving entity</label>
                    <input class="form-control" type="text" [value]="data.row?.receivingEntity" [disabled]="true" />
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <label class="form-label">Subject</label>
                    <textarea class="form-control" maxlength="2000" rows="5"
                      [disabled]="true">{{data.row?.subject || ''}}</textarea>
                  </div>
                </div>
                <!-- Add more fields as needed -->
              </div>
            </form>
          </div>
        </div>

        <!-- Attachments Tab -->
        <div [ngClass]="{'tab-pane': true, 'fade': true, 'show active': activeTabIndex === 1}">
          <div class="p-3">
            <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
              <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodeToggle class="mat-tree-node"
                [ngStyle]="{'--level': treeControl.getLevel(node)}">
                <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
                  <i class="fa" [ngClass]="treeControl.isExpanded(node) ? 'fa-chevron-down' : 'fa-chevron-right'"></i>
                </button>
                <i class="far fa-folder"></i>
                <span>{{node.name}}</span>
              </mat-tree-node>
              <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle class="mat-tree-node"
                [ngStyle]="{'--level': treeControl.getLevel(node)}">
                <a href="#" class="mx-2 align-items-center" [ngClass]="{'selected': selectedNode === node}"
                  (click)="selectNode(node, $event)">
                  <i class="far fa-file"></i>
                  <span>{{node.name}}</span>
                </a>
              </mat-tree-node>
            </mat-tree>
          </div>
        </div>

        <!-- Notes Tab -->
        <div [ngClass]="{'tab-pane': true, 'fade': true, 'show active': activeTabIndex === 2}">
          <div class="position-relative static-pagination">
            <table class="table" datatable [dtOptions]="dtOptions" *ngIf="notes?.length">
              <thead>
                <tr>
                  <th>Notes</th>
                  <th>Created By</th>
                  <th>Created Date</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of notes">
                  <td>
                    <p [innerHTML]="item.notes"></p>
                  </td>
                  <td>{{ item.createdBy }}</td>
                  <td>{{ item.createdDate }}</td>
                </tr>
              </tbody>
            </table>
            <div *ngIf="!notes?.length" class="text-center mt-3">
              <p>No data found</p>
            </div>
          </div>
        </div>

        <!-- Linked Documents Tab -->
        <div [ngClass]="{'tab-pane': true, 'fade': true, 'show active': activeTabIndex === 3}">
          <div class="p-3">
            <div class="position-relative static-pagination">
              <table class="table" datatable [dtOptions]="dtOptions" *ngIf="linkedDocs?.length">
                <thead>
                  <tr>
                    <th>Category</th>
                    <th>Reference Number</th>
                    <th>Created By</th>
                    <th>Created Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of linkedDocs">
                    <td>{{ item.category || '' }}</td>
                    <td>{{ item.linkedDocumentReferenceNumber }}</td>
                    <td>{{ item.linkedBy }}</td>
                    <td>{{ item.createdDate }}</td>
                  </tr>
                </tbody>
              </table>
              <div *ngIf="!linkedDocs?.length" class="text-center mt-3">
                <p>No data found</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Non-archived Attachments Tab -->
        <div [ngClass]="{'tab-pane': true, 'fade': true, 'show active': activeTabIndex === 4}">
          <div class="p-3">
            <div class="position-relative static-pagination">
              <table class="table" datatable [dtOptions]="dtOptions" *ngIf="nonArchAttachments?.length">
                <thead>
                  <tr>
                    <th>Type</th>
                    <th>Quantity</th>
                    <th>Description</th>
                    <th>Created By</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of nonArchAttachments">
                    <td>{{ item.type || '' }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.description || '' }}</td>
                    <td>{{ item.createdBy }}</td>
                  </tr>
                </tbody>
              </table>
              <div *ngIf="!nonArchAttachments?.length" class="text-center mt-3">
                <p>No data found</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Visual Tracking Tab -->
        <div [ngClass]="{'tab-pane': true, 'fade': true, 'show active': activeTabIndex === 5}">
          <div class="p-3">
            <div #chartContainer style="width: 100%; height: 500px;"></div>
          </div>
        </div>

        <!-- Transaction History Tab -->
        <div [ngClass]="{'tab-pane': true, 'fade': true, 'show active': activeTabIndex === 6}">
          <div class="p-3">
            <div class="position-relative static-pagination">
              <table class="table" datatable [dtOptions]="dtOptions" *ngIf="transHistory?.length">
                <thead>
                  <tr>
                    <th>From User</th>
                    <th>To</th>
                    <th>Transfer Date</th>
                    <th>Transfer Time</th>
                    <th>Due Date</th>
                    <th>Closed Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of transHistory">
                    <td>{{ item.fromUser || '' }}</td>
                    <td>{{ item.toUser || '' }}</td>
                    <td>{{ item.transferDate || '' }}</td>
                    <td>{{ item.transferTime }}</td>
                    <td>{{ item.dueDate || '' }}</td>
                    <td>{{ item.closedDate || '' }}</td>
                  </tr>
                </tbody>
              </table>
              <div *ngIf="!transHistory?.length" class="text-center mt-3">
                <p>No data found</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Activity Logs Tab -->
        <div [ngClass]="{'tab-pane': true, 'fade': true, 'show active': activeTabIndex === 7}">
          <div class="p-3">
            <div class="position-relative static-pagination">
              <table class="table" datatable [dtOptions]="dtOptions" *ngIf="activityLogs?.length">
                <thead>
                  <tr>
                    <th>User</th>
                    <th>Action</th>
                    <th>Created Date</th>
                    <th>Note</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of activityLogs">
                    <td>{{ item.user }}</td>
                    <td>{{ item.action }}</td>
                    <td>{{ item.createdDate }}</td>
                    <td>{{ item.note }}</td>
                  </tr>
                </tbody>
              </table>
              <div *ngIf="!activityLogs?.length" class="text-center mt-3">
                <p>No data found</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-7" style="height: calc(90vh - 100px);">
      <div *ngIf="selectedDocumentId && documentViewerUrl" style="height: 100%;">
        <iframe id="component_1738404262045_viewerFrame" style="width: 100%; height: 100%; border: 0px; padding: 0px;"
          [src]="documentViewerUrl"></iframe>
      </div>
    </div>
  </div>
</mat-dialog-content>