<div class="dialog-header">
  <h2 mat-dialog-title>{{ data.rowData.referenceNumber }}</h2>
  <button mat-button mat-dialog-close class="btn btn-transparente"><i class="fa fa-times"></i></button>
</div>

<mat-dialog-content>
  <div class="row">
    <div class="col-md-5">
      <div class="tabs-wrapper">
        <button mat-icon-button class="scroll-btn left" (click)="scrollLeft()" *ngIf="checkScroll()">
          <i class="fa fa-chevron-left"></i>
        </button>

        <div #tabsContainer class="nav nav-tabs responsive-tabs">
          <div *ngFor="let tab of tabs; let i = index" [ngClass]="{'active': activeTabIndex === i}"
               (click)="setActiveTab(i)" class="nav-link">
            {{ tab }}
          </div>
        </div>

        <button mat-icon-button class="scroll-btn right" (click)="scrollRight()" *ngIf="checkScroll()">
          <i class="fa fa-chevron-right"></i>
        </button>
      </div>

      <!-- Tab Contents -->
      <div class="tab-content">
        <div [ngClass]="{'tab-pane': true, 'fade': true, 'show active': activeTabIndex === 10}">
          <!--<div class="p-3">
              <div class="grid-2">
                  <strong>{{ data.rowData.id }}</strong>
                  <span>{{ data.rowData.id }}</span>
                  <strong>{{ data.rowData.id }}</strong>
                  <span>{{ data.rowData.id }}</span>
              </div>
              <hr />
              <div class="grid-2">
                  <strong>{{ data.rowData.id }}</strong>
                  <span>{{ data.rowData.id }}</span>
                  <strong>{{ data.rowData.id }}</strong>
                  <span>{{ data.rowData.id }}</span>
              </div>
          </div>-->
        </div>

        <!--Attributes-->
        <div [ngClass]="{'tab-pane': true, 'fade': true, 'show active': activeTabIndex === 0}">
          <div class="p-3">
            <form class="form">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-label">Sending entity</label>
                    <input class="form-control" type="text" [value]="data.rowData.sendingEntity" [disabled]="true" />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-label">Receiving entity</label>
                    <input class="form-control" type="text" [value]="data.rowData.receivingEntity" [disabled]="true" />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-label">Carbon copy</label>
                    <input class="form-control" type="text" value="text" [disabled]="true" />
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <label class="form-label">Subject</label>
                    <textarea class="form-control" maxlength="2000" rows="5" [disabled]="true">{{data.rowData.subject||''}}</textarea>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-label">Privacy</label>
                    <input class="form-control" type="text" [value]="data.rowData.privacyText" [disabled]="true" />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-label">Priority</label>
                    <input class="form-control" type="text" [value]="data.rowData.priorityText" [disabled]="true" />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-label">Due date</label>
                    <input class="form-control date-picker" [value]="data.rowData.dueDate" placeholder="yyyy-mm-dd" name="dp2" [disabled]="true" ngbDatepicker #d2="ngbDatepicker" (click)="d2.toggle()" />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-label">Created date</label>
                    <input class="form-control date-picker" [value]="data.rowData.createdDate" placeholder="yyyy-mm-dd" name="dp1" [disabled]="true" ngbDatepicker #d1="ngbDatepicker" (click)="d1.toggle()" />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-label">Created By</label>
                    <input class="form-control" type="text" [value]="data.rowData.createdByUser" [disabled]="true" />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-label">Importance</label>
                    <input class="form-control" type="text" [value]="data.rowData.importanceText" [disabled]="true" />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-label">Classification</label>
                    <select class="form-control" [disabled]="true">
                      <option value="1">Normal</option>
                      <option value="2">Medium</option>
                      <option value="3">Urgent</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-label">Document Type</label>
                    <select class="form-control" [disabled]="true">
                      <option value="1">Normal</option>
                      <option value="2">Medium</option>
                      <option value="3">Urgent</option>
                    </select>
                  </div>
                </div>
                <!--<div class="col-sm-12">
                  <div class="form-group">
                    <label class="form-label">Body</label>
                    <textarea class="form-control" maxlength="2000" rows="5" [disabled]="true">{{data.rowData.body}}</textarea>
                  </div>
                </div>-->
                <!--<div class="col-sm-12">
                  <div class="form-group">
                    <label class="form-label">Body</label>
                     <input class="form-control" type="text" [value]="data.rowData.tags" [disabled]="true" />
                  </div>
                </div>-->
              </div>
            </form>
          </div>
        </div>

        <!-- Attachment Tab-->
        <div [ngClass]="{'tab-pane': true, 'fade': true, 'show active': activeTabIndex === 1}">
          <div class="p-3">
            <div class="p-3">
              <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
                <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodeToggle
                               class="mat-tree-node" [ngStyle]="{'--level': treeControl.getLevel(node)}">
                  <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
                    <i class="fa" [ngClass]="treeControl.isExpanded(node) ? 'fa-chevron-down' : 'fa-chevron-right'"></i>
                  </button>
                  <i class="far fa-folder"></i>
                  <!--folder name-->
                  <span>{{node.name}}</span>
                </mat-tree-node>
                <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle class="mat-tree-node"
                               [ngStyle]="{'--level': treeControl.getLevel(node)}">
                  <!--file link-->
                  <a href="#" class="mx-2 align-items-center"
                     [ngClass]="{'selected': selectedNode === node}"
                     (click)="selectNode(node, $event)">
                    <i class="far fa-file"></i>
                    <span>{{node.name}}</span>
                  </a>
                </mat-tree-node>
              </mat-tree>
            </div>
          </div>
        </div>

        <!-- Notes Tab-->
        <div [ngClass]="{'tab-pane': true, 'fade': true, 'show active': activeTabIndex === 2}">
          <div class="position-relative static-pagination">
            <table class="table" datatable [dtOptions]="dtOptions" *ngIf="data?.notesData?.data.length">
              <thead>
                <tr>
                  <th>Notes</th>
                  <th>Created By</th>
                  <th>Created Date</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of data.notesData.data">
                  <td>
                    <p [innerHTML]="item.notes"></p>
                  </td>
                  <td>{{ item.createdBy }}</td>
                  <td>{{ item.createdDate }}</td>
                </tr>
              </tbody>
            </table>
            <!-- Message for No Data Found -->
            <div *ngIf="data?.notesData?.data.length === 0" class="text-center mt-3">
              <p>No data found</p>
            </div>
          </div>
        </div>

        <!-- Linked Correspondence Tab-->
        <div [ngClass]="{'tab-pane': true, 'fade': true, 'show active': activeTabIndex === 3}">
          <div class="p-3">
            <div class="position-relative static-pagination">
              <table class="table" datatable [dtOptions]="dtOptions" *ngIf="data?.linkedDoc?.data.length">
                <thead>
                  <tr>
                    <th>Category</th>
                    <th>Reference Number</th>
                    <th>Created By</th>
                    <th>Created Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of data.linkedDoc.data">
                    <td>{{ item.category||'' }}</td>
                    <td>{{ item.linkedDocumentReferenceNumber }}</td>
                    <td>{{ item.linkedBy }}</td>
                    <td>{{ item.createdDate }}</td>
                  </tr>
                </tbody>
              </table>
              <!-- Message for No Data Found -->
              <div *ngIf="data?.linkedDoc?.data.length === 0" class="text-center mt-3">
                <p>No data found</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Non-archived Attachments-->
        <div [ngClass]="{'tab-pane': true, 'fade': true, 'show active': activeTabIndex === 4}">
          <div class="p-3">
            <div class="position-relative static-pagination">
              <table class="table" datatable [dtOptions]="dtOptions" *ngIf="data?.archAttach?.data.length">
                <thead>
                  <tr>
                    <th>Type</th>
                    <th>Quantity</th>
                    <th>Description</th>
                    <th>Created By</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of data.archAttach.data">
                    <td>{{ item.type ||'' }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.description || '' }}</td>
                    <td>{{ item.createdBy }}</td>
                  </tr>
                </tbody>
              </table>
              <!-- Message for No Data Found -->
              <div *ngIf="data?.archAttach?.data.length === 0" class="text-center mt-3">
                <p>No data found</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Visual Tracking-->
        <div [ngClass]="{'tab-pane': true, 'fade': true, 'show active': activeTabIndex === 5}">
          <div class="p-3">
            <ul class="timeline">
              <li>
                <div class="timeline-header">
                  <span class="m-0 text-primary">Title 1</span>
                  <span class="bold text-secondary">2002</span>
                </div>
                <p class="timeline-content">Lorem ipsum, dolor sit amet c</p>
              </li>
              <li>
                <div class="timeline-header">
                  <span class="m-0 text-primary">Title 1</span>
                  <span class="bold text-secondary">2002</span>
                </div>
                <p class="timeline-content">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
              </li>
              <li>
                <div class="timeline-header">
                  <span class="m-0 text-primary">Title 1</span>
                  <span class="bold text-secondary">2002</span>
                </div>
                <p class="timeline-content">
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas itaque hic
                  quibusdam fugiat est numquam harum, accusamus suscipit consequatur laboriosam!
                </p>
              </li>
            </ul>
          </div>
        </div>

        <!-- TransHistory-->
        <div [ngClass]="{'tab-pane': true, 'fade': true, 'show active': activeTabIndex === 6}">
          <div class="p-3">
            <div class="position-relative static-pagination">
              <table class="table" datatable [dtOptions]="dtOptions" *ngIf="data?.history?.data?.length">
                <thead>
                  <tr>
                    <th>From User</th>
                    <th>To</th>
                    <th>Transfer Date</th>
                    <th>Transfer Time</th>
                    <th>Due Date</th>
                    <th>Closed Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of data.history.data">
                    <td>{{ item.fromUser ||''}}</td>
                    <td>{{ item.toUser||'' }}</td>
                    <td>{{ item.transferDate||''}}</td>
                    <td>{{ item.transferTime }}</td>
                    <td>{{ item.dueDate||'' }}</td>
                    <td>{{ item.closedDate||'' }}</td>
                  </tr>
                </tbody>
              </table>
              <!-- Message for No Data Found -->
              <div *ngIf="data?.history?.data.length === 0" class="text-center mt-3">
                <p>No data found</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Activity Logs-->
        <div [ngClass]="{'tab-pane': true, 'fade': true, 'show active': activeTabIndex === 7}">
          <div class="p-3">
            <div class="position-relative static-pagination">
              <table class="table" datatable [dtOptions]="dtOptions" *ngIf="data?.logs?.length">
                <thead>
                  <tr>
                    <th>User</th>
                    <th>Action</th>
                    <th>Created Date</th>
                    <th>Note</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of data.logs">
                    <td>{{ item.user }}</td>
                    <td>{{ item.action }}</td>
                    <td>{{ item.createdDate}}</td>
                    <td>{{ item.note }}</td>
                  </tr>
                </tbody>
              </table>
              <!-- Message for No Data Found -->
              <div *ngIf="data?.logs?.length === 0" class="text-center mt-3">
                <p>No data found</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="col-md-7">
      <p>Viewer here</p>
    </div>
  </div>
</mat-dialog-content>
